/* default CSS styles for the GPSR manufacturer info on the product_info page*/

.gpsrDetails {
    margin-bottom: .6em;
}

.gpsrDetails ul li {
    list-style: none;
}

.gpsrInfoContact {
    font-weight: bold;
}

#gpsrInfo p {
  padding-top: 0;
  padding-bottom: 0;
  margin:0;
}

#gpsrInfo ul {
    font-size: 1em;
    line-height: 100%;
    padding-top: 0;
    margin:0;
}
